.chart {
  background-color: white;

  border-radius: 20px;
  padding: 24px 20px;
}

.chart__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 52px;
}

.graph {
  height: 178px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: flex-end;
}

.day {
  width: 33px;
  background-color: var(--color-red);
}

@media (min-width: 450px){
  .chart {
    padding: 32px 40px 40px;
  }

  .chart__heading {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 66px;
  }

  .graph {
    gap: 18px;
  }

  .day {
    width: 50px;
  }
}